extends ../layout

block content
  nav
    div.container
      a(href="#")
        img(src="../img/static/logo.png")
      ul.menu(type="none")
        li <a href="#">关于良仓</a>
        li <a href="#">良仓动态</a>
        li <a href="#">良仓活动</a>
        li <a href="#">良仓服务</a>
        li <a href="#">良仓项目</a>



  

