nav {
  height: 70px; }
  nav .container {
    height: 70px; }
    nav .container a {
      display: block;
      float: left;
      height: 100%; }
      nav .container a img {
        position: relative;
        top: 20%;
        height: 60%; }
    nav .container ul.menu {
      display: inline-block;
      float: right;
      height: 70px;
      line-height: 70px; }
      nav .container ul.menu li {
        display: inline-block;
        float: left; }
        nav .container ul.menu li a {
          padding: 0 15px;
          display: block;
          height: 100%;
          color: gray;
          text-decoration: none; }
          nav .container ul.menu li a:hover {
            color: red; }

@media only screen and (max-width: 768px) {
  nav .container .icon-list.mb-show {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 2.5rem;
    overflow: hidden; }
  nav .container .logo {
    margin-left: 15px; }
    nav .container .logo ul.menu {
      position: absolute;
      top: 50px;
      right: 0;
      z-index: 11;
      display: block;
      width: 100px;
      height: initial;
      line-height: 50px;
      background-color: white;
      transform: scale(0);
      transition: all 0.3s cubic-bezier(0.31, 0.57, 0.68, 1.36);
      transform-origin: 80% 0;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.22); }
      nav .container .logo ul.menu li {
        width: 100%;
        display: block;
        float: inherit;
        text-align: center; }
        nav .container .logo ul.menu li a {
          padding: 0;
          display: inline-block;
          float: initial; }
      nav .container .logo ul.menu .weichat-qrcode {
        display: none; }
    nav .container .logo ul.menu-active {
      height: auto; } }
